@import "./shared/colors.scss";
.contenedor{
  display: flex;
  flex-direction: column;
  height: auto;
  .navbar{
    width: 100%;
    z-index: 100;
    color: $blanco;
    height: 84px;
    position: fixed;
    background-color: $gris-oscuro1;
    display: flex;
    flex-direction: row;
    gap: 45px;
    padding-left: 50px;
    .logo,.componente{
      text-align: start;
      h3, .icon{
        color: inherit;
        font-size: 20px;
      }
    }
    .componente{
      color: $gris-claro;
    }
    
  
  }
  
  .contenido-principal{
    height: auto;
    width: 100%;
    margin-top: 80px;
    background-color: $gris-oscuro2;
    width: 100%;
  }
}
