$color-principal:#005cbb; //gradiente 1
$azul-oscuro: #07243F; //gradiente 2
$azul-gris: #1f364c;
$hover-azul: #1f364c;
$blanco: #f9f9f9;
$blanco-oscuro: #b0b0b0;
$rojo: #d9534f;
$verde: #5cb85c; 
$gris-claro:#9ca7b2;
$gris-oscuro1: #2b2929;
$gris-oscuro2:#1e1919;
$background-container:#1a1f1f;