@import "../../../../shared/colors.scss";
.container-lista-clases{
    background: $background-container;
    width: 840px;
    border-radius: 20px;
    max-height: 65vh;
    margin: 0 auto; 
    padding: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 5px $gris-claro;   
    margin-bottom: 40px;
    .btn{
        display: flex;
        flex-direction: row;
        font-size: 15px;
        button{
            color: $blanco;
        }
        p{
            color: $gris-claro;

            &:hover{
                cursor: pointer;
            }
        }
    }
    .encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        border-bottom: 2px solid $gris-claro;

        h3{
            color: $blanco;
            font-weight: 500;
            font-size: 28px;
        }
        a{  
            background-color: $hover-azul;
            color: $blanco;
            font-size: 15px;
            margin: 30px;
        }
    }
    .lista-clases{
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: scroll;
        .lista{
            width: 100%; 
            padding-left: 15px;
            padding-bottom: 0;
            .item-lista{
                margin: 10px 0;
                border-bottom: 1px solid #ccc; 
                
                .flex-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .datos{
                        display: flex;
                        flex-direction: column;
                        .span-titulo{
                            font-weight: 500;
                            color: $blanco;
                            font-size: 18px; 
                        }
                        .span-line{
                            font-size: 14px; 
                            color: $blanco-oscuro; 

                        }
                    }
                    .botones{
                        display: flex;
                        flex-direction: row;
                        gap: 2px;
                        padding-right: 10px;                 
                    }
                    .btn-borrar, .btn-editar, .btn-info{
                        color: $blanco-oscuro;
                    }
                    .btn-borrar:hover{
                        background-color: $rojo;
                    }
                    .btn-editar:hover{
                        background-color: $color-principal;
                    }
                }
               
            }
        }

    }
}
.elseB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-top: 15px;
        text-align: center;
        color: $gris-claro;
    }
    button{
        width: 250px;
    }
}
