<div class="modal-div">
    <h3 *ngIf="creating; else elseB">Creando nuevo estudiante</h3>
    <ng-template #elseB>
      <h3> Editando a: {{this.data.name}}</h3>
    </ng-template>
    
    <form class="formulario" [formGroup]="formulario">
        <mat-form-field class="form-field">
            <mat-label >Nombre completo</mat-label>
            <input  matInput  formControlName="name">
            <mat-error *ngIf="this.formulario.get('name')?.hasError('required')">El nombre es <strong>obligatorio</strong></mat-error>
            <mat-error *ngIf="this.formulario.get('name')?.hasError('minlength')">El nombre <strong>debe tener minimo</strong> 6 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput  formControlName="email" >
          <mat-error *ngIf="this.formulario.get('email')?.hasError('email') ">Ingrese un email válido</mat-error>
          <mat-error *ngIf="this.formulario.get('email')?.hasError('required') ">El mail es <strong>obligatorio</strong></mat-error>
        </mat-form-field>
        
  
        <button mat-flat-button [disabled]="!this.formulario.valid" (click)="send()" [ngClass]="{'button': this.formulario.valid, 'disabled': !this.formulario.valid}">
          {{btnText}}
        </button>
    
        <button mat-button  (click)="close()" class="button">Volver</button>
  </form>
  
</div>