@import "../../../../../shared/colors.scss";
.modal-div{
    background-color: $gris-oscuro1;
    h3{
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin: 15px;
        color:$blanco
    }
    height: 450px;
    width: 500px;
    .formulario{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px;
        .form-field,button{
            width: 350px;
        }
        .button{

            background-color: $blanco;
            color: $color-principal;
        }
        .disabled{
            background-color: $blanco-oscuro;
        }
    }
}